@porketta:registry=http://npm.my-ideas.it/repository/porketta/
@my-ideas:registry=http://npm.my-ideas.it/repository/my-ideas/
//npm.my-ideas.it/repository/porketta/:_authToken=${NPM_TOKEN}
//npm.my-ideas.it/repository/my-ideas/:_authToken=${NPM_TOKEN}
